body{
  height: 100vh;
}


* {
  font-family: 'Quicksand', sans-serif;
}
.fc {
  display: flex;
  flex-direction: column;
}
.fr {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}

.content{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/****************
* SECTION LOGIN *
*****************/
section[data-win="login"], section[data-win="register"]{
  width: 100vw;
  height: 100vh;
  background-color: #ff7885;
  justify-content: center;
  align-items: center;
}
section[data-win="login"] > .content h1, section[data-win="register"] > .content h1 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 15px;
}

section[data-win="login"] > .gestionErreur, section[data-win="register"] > .gestionErreur {
  font-size: 13px;
  background-color: lightcoral;
  width: 200px;
  opacity: 0.8;
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;

}




.identification, .register{
  width: 100%;
  /* height: 60vh; */
  align-items: center;
}
.identification > input[type="button"], .register > input[type="button"]{
  margin-top: 5px;
}

.identification > label, .register > label  {
  padding: 5px;
}
.redirectRegister {
  margin-top: 30px;
}

.redirectRegister p {
  font-size: 13px;
}
.redirectRegister a{
  color: red;
  text-decoration: none;
}

section[data-win="login"] .animation {
  background-image: url('../img/gif/login.gif');

}

/*******************
* SECTION REGISTER *
********************/

section[data-win="register"] {
  background-color: lightblue;
}

section[data-win="register"] input {
  width: 150px;
}

section[data-win="register"] input[type="button"] {
  width: 80px;
}

.animation{
  background-size: cover;
  width: 100vw;
  height: 40vh;
}

section[data-win="register"] .animation {
  background-image: url('../img/gif/register.gif');

}

.redirectLogin {
  margin-top: 30px;
}

.redirectLogin p {
  font-size: 13px;
}
.redirectLogin a{
  color: red;
  text-decoration: none;
}


/*******************
*     MAIN APP     *
********************/

.content_main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
}

.content_main > div {
  /* height: 33.33vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.content_main div > h2 {
  width: 100vw;
   justify-content: center;
   display: flex;
   padding: 10px 0;
   background: rgba(249, 212, 160, 0.47);
   -webkit-box-shadow: inset 0px -19px 20px -9px rgba(0,0,0,0.18);
   -moz-box-shadow: inset 0px -19px 20px -9px rgba(0,0,0,0.18);
   box-shadow: inset 0px -19px 20px -18px rgba(0,0,0,0.18);
   height: 10%;
}

section[data-win="main"] {
  background-image: url('../img/jpg/main.jpg');
  background-image: url('../img/jpg/test1.jpg');
  background-image: url('../img/jpg/test2.jpg');
  background-image: url('../img/jpg/test4.jpg');
  background-image: url('../img/jpg/test5.jpg');
  background-image: url('../img/jpg/test6.jpg');
  background-image: url('../img/jpg/test7.jpg');
  background-image: url('../img/jpg/test8.jpg');
  background-size: cover;
  position: fixed;

}

.contentGroup {
  width: 100%;
  /* height: 90%; */
}

.contentGroup p {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
              inset 0 -2px 0 rgba(0, 0, 0, 0.05),
              inset -2px 0px 0 rgba(0, 0, 0, 0.05);
  width: 340px;
  min-height: 35px;
  background-color: rgba(249, 230, 200, 0.66);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
 span {
   max-width: 320px;
 }
/* .importantGroup, .todayGroup, .expsoonGroup {

} */




/*******************
*     SIDE MENU    *
********************/

.sideM{
height: 100vh;
width: 310px;
top: 0;
position: absolute;
background: whitesmoke;
left: -310px;
transition: left 1s;
}

.closed {
  left: -310px;
}

.open {
  left: 0px;
}




.btnSide{
width: 40px;
height: 40px;
left: 286px;
top: 280px;
position: absolute;
background: #f5f5f5;
border-radius: 50px;
opacity: 0.3;
transition: opacity 1s;
}
.btnSide:hover{
  opacity: 1;
}
.content_menu{
  width: 270px;
  height: 550px;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 20px;
}
.pictureUsers{
  background-image: url('../uploads/prof1.png');
  width: 100%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;

}
.textimg{
  background-image: url('../img/icons/copy1.png');
  position: absolute;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 15px;
  left: 190px;
}

.nospeak{
  width: 0px;
  transition: width 1s;
}
.speak{
  width: 70px;
  transition: width 1s;
}

.codeUser{
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.codeUser > span {
  user-select: none; /* Standard */
  background: #ecc19c;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
  text-align: center;
  border-radius: 50px;
}

.setup{
  background-image: url('../img/icons/3dots64x.png');
  display: flex;
  width: 100%;
  height: 20px;
  background-size: contain;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;

}

.userList{
  margin-top: 10px;
  width: 100%;
  height: 290px;
  background-color: #e4e4e4;
  box-shadow: inset 0px 0px 0px 4px white;
  overflow: scroll;
  z-index: 2
}

.userList ul {
  list-style: none;
  padding: 4px;
}

.userList ul > li {
  cursor: pointer;
  padding: 5px;
  height: 30px;
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-family: montserrat;
  transition: background-color 1s;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
              inset 0 -2px 0 rgba(0, 0, 0, 0.05),
              inset 0px -1px 0 rgba(0, 0, 0, 0.05);
}

.userList ul > li:hover {
  background-color: #f5c3a6;
  transition: background-color 1s;
}


.userConfig {
    background: whitesmoke;
    height: 300px;
    position: absolute;
    width: 310px;
    transition: bottom 1s;
    z-index: 3;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

.configOpen{
  bottom: 0px;

}
.configClose{
  bottom: -600px;
}
 /* A MODIF  */
.userConfig > .header {
    height: 30px;
    background-color: #ecc19c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.userConfig > .header h6 {
  margin-left: 20px
}


.iconBack{
  background-image: url('../img/icons/return.png');
  width: 35px;
  height: 15px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  background-color: white;
  padding: 3p;
  border-radius: 36px;
  padding: 4px;
  cursor: pointer;
}

.Addnew {
  background: white;
  width: 262px;
      left: 20px;
      bottom: 54px;
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 270px;
}
.Addnew > .header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Addnew > .form {
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 68px;
    background-color: #ecc19c;
    align-items: center;
    padding: 5px;
}

.formOpen {
    height: 110px;
    transition: height 1s;
}

.formClosed {
  height: 35px;
  transition: height 1s;

}

.Addnew .form input[type="button"] {
  margin-top: 7px;
}

.Addnew .form label {
padding-bottom: 3px;
}

.Addnew .form input[type="text"] {
width: 220px;
}

[data-win='menuSide'] {
  position: fixed;
}


.content_userConfig {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.btn_logOut {
  display: inline-block;
  border-radius: 4px;
  background-color: #eb6d4a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 0px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 100px;
  height: 30px;
}

.btn_logOut span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_logOut span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_logOut:hover span {
  padding-right: 25px;
}

.btn_logOut:hover span:after {
  opacity: 1;
  right: 0;
}


/*********************
*   SELECTED LIST    *
**********************/

section[data-win="selectList"] {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../img/jpg/test4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.headerList {
  background-color: rgba(255, 255, 255, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.headerList > h6 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  word-spacing: 1px;
}
.footerList{
  height: 25px;
  padding: 5px;
  display: flex;
  background-color: indianred;
  justify-content: center;
  }

.content_List {
  width: 100%;
  height: 525px;
  background-color: rgba(255, 255, 255, 0.21);
  overflow: scroll;
}
.task ul {
  list-style: none;
  /* padding: 4px; */
}

.task ul > li {
  display: flex;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  padding: 5px;
  height: 30px;
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-family: montserrat;
  transition: background-color 1s;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05), inset 0px -1px 0 rgba(0, 0, 0, 0.05);
}

.task ul > li:hover {
  background-color: rgba(84, 84, 84, 0.59);
}

.footerList {
  height: 25px;
  padding: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.31);
  justify-content: center;
}

.footerList h6 {
  color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 1px;
}
