body{
  height: 100vh;
}


* {
  font-family: 'Quicksand', sans-serif;
}
.fc {
  display: flex;
  flex-direction: column;
}
.fr {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}

.content{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/****************
* SECTION LOGIN *
*****************/
section[data-win="login"], section[data-win="register"]{
  width: 100vw;
  height: 100vh;
  background-color: #ff7885;
  justify-content: center;
  align-items: center;
}
section[data-win="login"] > .content h1, section[data-win="register"] > .content h1 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 15px;
}

section[data-win="login"] > .gestionErreur, section[data-win="register"] > .gestionErreur {
  font-size: 13px;
  background-color: lightcoral;
  width: 200px;
  opacity: 0.8;
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;

}




.identification, .register{
  width: 100%;
  /* height: 60vh; */
  align-items: center;
}
.identification > input[type="button"], .register > input[type="button"]{
  margin-top: 5px;
}

.identification > label, .register > label  {
  padding: 5px;
}
.redirectRegister {
  margin-top: 30px;
}

.redirectRegister p {
  font-size: 13px;
}
.redirectRegister a{
  color: red;
  text-decoration: none;
}

section[data-win="login"] .animation {
  background-image: url('../img/gif/login.gif');

}

/*******************
* SECTION REGISTER *
********************/

section[data-win="register"] {
  background-color: lightblue;
}

section[data-win="register"] input {
  width: 150px;
}

section[data-win="register"] input[type="button"] {
  width: 80px;
}

.animation{
  background-size: cover;
  width: 100vw;
  height: 40vh;
}

section[data-win="register"] .animation {
  background-image: url('../img/gif/register.gif');

}

.redirectLogin {
  margin-top: 30px;
}

.redirectLogin p {
  font-size: 13px;
}
.redirectLogin a{
  color: red;
  text-decoration: none;
}


/*******************
*     MAIN APP     *
********************/

.content_main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
}

.content_main > div {
  /* height: 33.33vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.content_main div > h2 {
  width: 100vw;
   justify-content: center;
   display: flex;
   padding: 10px 0;
   background: rgba(249, 212, 160, 0.47);
   -webkit-box-shadow: inset 0px -19px 20px -9px rgba(0,0,0,0.18);
   -moz-box-shadow: inset 0px -19px 20px -9px rgba(0,0,0,0.18);
   box-shadow: inset 0px -19px 20px -18px rgba(0,0,0,0.18);
   height: 10%;
}

section[data-win="main"] {
  background-image: url('../img/jpg/main.jpg');
  background-size: cover;
  position: fixed;

}

.contentGroup {
  width: 100%;
  /* height: 90%; */
}

.contentGroup p {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
              inset 0 -2px 0 rgba(0, 0, 0, 0.05),
              inset -2px 0px 0 rgba(0, 0, 0, 0.05);
  width: 340px;
  min-height: 35px;
  background-color: rgba(249, 230, 200, 0.66);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
 span {
   max-width: 320px;
 }
/* .importantGroup, .todayGroup, .expsoonGroup {

} */
